body {
    background-image: url('slike/slika2.jpg');    
}

#anketica{
	position: relative;
	background-color: rgb(149, 246, 246);
    margin-left: 1120px;
    padding:10px;
    border: solid 3px rgb(200, 67, 67);
	color:rgb(200, 67, 67);
	font-family: "Calibri";
}

#rss{
	background-color: rgb(149, 246, 246);
	position: absolute;
  	top: 50px;
  	left: 550px;
  	width: 500px;
  	height: 100px;
	border: solid 3px rgb(200, 67, 67);
	color:rgb(200, 67, 67);
	font-size: 25px;
	font-family: "Calibri";
}

#popularno{
	background-color: rgb(149, 246, 246);
	position: absolute;
  	top: 50px;
  	left: 0px;
  	width: 170px;
  	height: 180px;
	border: solid 3px rgb(200, 67, 67);
	color:rgb(200, 67, 67);
	font-size: 20px;
	font-family: "Calibri";
}

#uskok{
	margin-left: 1130px;
	margin-top: -1100px;
	width: 150px;
	height: 320px;

}

#uskok2{
	margin-left: 40px;
	margin-top: -320px;
	width: 150px;
	height: 320px;

}

a{
	text-indent: 37px;
}

p{
    color: rgb(1, 56, 56);
    text-shadow: 5px 5px 5px rgb(255, 221, 71);
    text-indent: 37px;
}

 #uno {
 	width: 850px;
 	height: 1000px;
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
 	border: 3px solid rgb(149, 246, 246); 	
	background-color: rgb(110, 185, 185);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
 }

a:link {
    color: rgb(1, 56, 56)
}

a:visited {
    color: rgb(64, 5, 66);
}

 a:hover {
    color: rgb(255, 255, 255);
}

#txt{
  border: solid #A5ACB2;
  margin:5px;  
  }

#sub{
	transition-duration: 0.5s;
	border-radius: 550px;
	font-size: 15px;
	}

#sub:hover {
		background-color: rgb(214, 31, 205);
		color: rgb(255, 255, 255);
	}

.str{
		background: url('slike/slika9.png') no-repeat center;    
		text-align: center;
		vertical-align: middle;
		margin: 0 auto;
		margin-top: 50px;
		}

.social_btn1 #lista {   
	padding-inline-start: 10px;
	padding-right: none;
		}
			
			
.social_btn1 ul#lista li{   
	display: inline;
	padding-right: 50px;
			}  
					
.social_btn1 #oi {
	height: 100px;
	width: 100px;
			}        
			
.content h1 {
	display:inline;     
	background-color: rgb(255, 255, 255); 
	}

#livesearch{ 
	margin:40px;
	width:90%;
	color:rgb(200, 67, 67);	
	}

.em-text{
	color: #b82fe2;
	}

a {
	text-indent: 0px;
}

.natpisi {
	width: 850px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
    line-height: 10px;
        font-size: 15px;
        background-color: plum;
        color: rgb(25, 0, 47);
		overflow: hidden;
}

#footer {
	width: 850px;
	border-top: 10px dashed rgb(200, 67, 67);
	margin-left: auto;
	margin-right: auto;
	position: bottom;
	background-color: rgb(215, 186, 251);
	height: 200px;
	color: rgb(25, 0, 47);
	border-radius: 10px 10px 10px 10px;
	text-align: center;
}
	
#footer ul{
	text-align: center;    
}

#submit1{
    transition-duration: 0.5s;
	border-radius: 50px;
    font-size: 15px;
    color:black;
  background-color: white;  
}

#submit1:hover{
    background-color: black;
		color: white;
}

.topnav {
	overflow: hidden;
	background-color: #333;
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: plum;
	color: white;
  }

  #toto:hover {
	background-color: #ddd;
	color: black;
  }